In [1]:
import pandas as pd
import numpy as np
data=pd.read_excel("ESD.xlsx")
print(data)

       EEID        Full Name                 Job Title  Department  \
0    E02387      Emily Davis                Sr. Manger          IT
1    E04105    Theodore Dinh       Technical Architect          IT
2    E02572     Luna Sanders                  Director     Finance
3    E02832  Penelope Jordan  Computer Systems Manager          IT
4    E01639        Austin Vo               Sr. Analyst     Finance
..      ...              ...                       ...         ...
995  E03094     Wesley Young               Sr. Analyst   Marketing
996  E01909     Lillian Khan                   Analyst     Finance
997  E04398      Oliver Yang                  Director   Marketing
998  E02521      Lily Nguyen               Sr. Analyst     Finance
999  E03545      Sofia Cheng            Vice President  Accounting

              Business Unit  Gender  Ethnicity  Age  Hire Date  Annual Salary  \
0    Research & Development  Female      Black   55 2016-04-08         141604
1             Manufacturing    Male      Asian   59 1997-11-29          99975
2       Speciality Products  Female  Caucasian   50 2006-10-26         163099
3             Manufacturing  Female  Caucasian   26 2019-09-27          84913
4             Manufacturing    Male      Asian   55 1995-11-20          95409
..                      ...     ...        ...  ...        ...            ...
995     Speciality Products    Male  Caucasian   33 2016-09-18          98427
996     Speciality Products  Female      Asian   44 2010-05-31          47387
997     Speciality Products    Male      Asian   31 2019-06-10         176710
998     Speciality Products  Female      Asian   33 2012-01-28          95960
999               Corporate  Female      Asian   63 2020-07-26         216195

     Bonus %        Country       City  Exit Date
0       0.15  United States    Seattle 2021-10-16
1       0.00          China  Chongqing        NaT
2       0.20  United States    Chicago        NaT
3       0.07  United States    Chicago        NaT
4       0.00  United States    Phoenix        NaT
..       ...            ...        ...        ...
995     0.00  United States   Columbus        NaT
996     0.00          China    Chengdu 2018-01-08
997     0.15  United States      Miami        NaT
998     0.00          China    Chengdu        NaT
999     0.31  United States      Miami        NaT

[1000 rows x 14 columns]

In [5]:
data.loc[(data["Bonus %"]==0),"GetBonus"]="no bonus"
data.loc[(data["Bonus %"]>0),"GetBonus"]="bonus"

In [6]:
print(data)

       EEID        Full Name                 Job Title  Department  \
0    E02387      Emily Davis                Sr. Manger          IT
1    E04105    Theodore Dinh       Technical Architect          IT
2    E02572     Luna Sanders                  Director     Finance
3    E02832  Penelope Jordan  Computer Systems Manager          IT
4    E01639        Austin Vo               Sr. Analyst     Finance
..      ...              ...                       ...         ...
995  E03094     Wesley Young               Sr. Analyst   Marketing
996  E01909     Lillian Khan                   Analyst     Finance
997  E04398      Oliver Yang                  Director   Marketing
998  E02521      Lily Nguyen               Sr. Analyst     Finance
999  E03545      Sofia Cheng            Vice President  Accounting

              Business Unit  Gender  Ethnicity  Age  Hire Date  Annual Salary  \
0    Research & Development  Female      Black   55 2016-04-08         141604
1             Manufacturing    Male      Asian   59 1997-11-29          99975
2       Speciality Products  Female  Caucasian   50 2006-10-26         163099
3             Manufacturing  Female  Caucasian   26 2019-09-27          84913
4             Manufacturing    Male      Asian   55 1995-11-20          95409
..                      ...     ...        ...  ...        ...            ...
995     Speciality Products    Male  Caucasian   33 2016-09-18          98427
996     Speciality Products  Female      Asian   44 2010-05-31          47387
997     Speciality Products    Male      Asian   31 2019-06-10         176710
998     Speciality Products  Female      Asian   33 2012-01-28          95960
999               Corporate  Female      Asian   63 2020-07-26         216195

     Bonus %        Country       City  Exit Date  GetBonus
0       0.15  United States    Seattle 2021-10-16     bonus
1       0.00          China  Chongqing        NaT  no bonus
2       0.20  United States    Chicago        NaT     bonus
3       0.07  United States    Chicago        NaT     bonus
4       0.00  United States    Phoenix        NaT  no bonus
..       ...            ...        ...        ...       ...
995     0.00  United States   Columbus        NaT  no bonus
996     0.00          China    Chengdu 2018-01-08  no bonus
997     0.15  United States      Miami        NaT     bonus
998     0.00          China    Chengdu        NaT  no bonus
999     0.31  United States      Miami        NaT     bonus

[1000 rows x 15 columns]

In [7]:
import pandas as pd
import numpy as np

data=pd.read_excel("ESD.xlsx")
print(data)

       EEID        Full Name                 Job Title  Department  \
0    E02387      Emily Davis                Sr. Manger          IT
1    E04105    Theodore Dinh       Technical Architect          IT
2    E02572     Luna Sanders                  Director     Finance
3    E02832  Penelope Jordan  Computer Systems Manager          IT
4    E01639        Austin Vo               Sr. Analyst     Finance
..      ...              ...                       ...         ...
995  E03094     Wesley Young               Sr. Analyst   Marketing
996  E01909     Lillian Khan                   Analyst     Finance
997  E04398      Oliver Yang                  Director   Marketing
998  E02521      Lily Nguyen               Sr. Analyst     Finance
999  E03545      Sofia Cheng            Vice President  Accounting

              Business Unit  Gender  Ethnicity  Age  Hire Date  Annual Salary  \
0    Research & Development  Female      Black   55 2016-04-08         141604
1             Manufacturing    Male      Asian   59 1997-11-29          99975
2       Speciality Products  Female  Caucasian   50 2006-10-26         163099
3             Manufacturing  Female  Caucasian   26 2019-09-27          84913
4             Manufacturing    Male      Asian   55 1995-11-20          95409
..                      ...     ...        ...  ...        ...            ...
995     Speciality Products    Male  Caucasian   33 2016-09-18          98427
996     Speciality Products  Female      Asian   44 2010-05-31          47387
997     Speciality Products    Male      Asian   31 2019-06-10         176710
998     Speciality Products  Female      Asian   33 2012-01-28          95960
999               Corporate  Female      Asian   63 2020-07-26         216195

     Bonus %        Country       City  Exit Date
0       0.15  United States    Seattle 2021-10-16
1       0.00          China  Chongqing        NaT
2       0.20  United States    Chicago        NaT
3       0.07  United States    Chicago        NaT
4       0.00  United States    Phoenix        NaT
..       ...            ...        ...        ...
995     0.00  United States   Columbus        NaT
996     0.00          China    Chengdu 2018-01-08
997     0.15  United States      Miami        NaT
998     0.00          China    Chengdu        NaT
999     0.31  United States      Miami        NaT

[1000 rows x 14 columns]

In [8]:
data.head(5)

,EEID,Full Name,Job Title,Department,Business Unit,Gender,Ethnicity,Age,Hire Date,Annual Salary,Bonus %,Country,City,Exit Date
0,E02387,Emily Davis,Sr. Manger,IT,Research & Development,Female,Black,55,2016-04-08,141604,0.15,United States,Seattle,2021-10-16
1,E04105,Theodore Dinh,Technical Architect,IT,Manufacturing,Male,Asian,59,1997-11-29,99975,0.00,China,Chongqing,NaT
2,E02572,Luna Sanders,Director,Finance,Speciality Products,Female,Caucasian,50,2006-10-26,163099,0.20,United States,Chicago,NaT
3,E02832,Penelope Jordan,Computer Systems Manager,IT,Manufacturing,Female,Caucasian,26,2019-09-27,84913,0.07,United States,Chicago,NaT
4,E01639,Austin Vo,Sr. Analyst,Finance,Manufacturing,Male,Asian,55,1995-11-20,95409,0.00,United States,Phoenix,NaT

In [9]:
print(data.head(5))

     EEID        Full Name                 Job Title Department  \
0  E02387      Emily Davis                Sr. Manger         IT
1  E04105    Theodore Dinh       Technical Architect         IT
2  E02572     Luna Sanders                  Director    Finance
3  E02832  Penelope Jordan  Computer Systems Manager         IT
4  E01639        Austin Vo               Sr. Analyst    Finance

            Business Unit  Gender  Ethnicity  Age  Hire Date  Annual Salary  \
0  Research & Development  Female      Black   55 2016-04-08         141604
1           Manufacturing    Male      Asian   59 1997-11-29          99975
2     Speciality Products  Female  Caucasian   50 2006-10-26         163099
3           Manufacturing  Female  Caucasian   26 2019-09-27          84913
4           Manufacturing    Male      Asian   55 1995-11-20          95409

   Bonus %        Country       City  Exit Date
0     0.15  United States    Seattle 2021-10-16
1     0.00          China  Chongqing        NaT
2     0.20  United States    Chicago        NaT
3     0.07  United States    Chicago        NaT
4     0.00  United States    Phoenix        NaT

In [11]:
data["Bonus Amount"]=(data["Annual Salary"]/100)*20
print(data)

       EEID        Full Name                 Job Title  Department  \
0    E02387      Emily Davis                Sr. Manger          IT
1    E04105    Theodore Dinh       Technical Architect          IT
2    E02572     Luna Sanders                  Director     Finance
3    E02832  Penelope Jordan  Computer Systems Manager          IT
4    E01639        Austin Vo               Sr. Analyst     Finance
..      ...              ...                       ...         ...
995  E03094     Wesley Young               Sr. Analyst   Marketing
996  E01909     Lillian Khan                   Analyst     Finance
997  E04398      Oliver Yang                  Director   Marketing
998  E02521      Lily Nguyen               Sr. Analyst     Finance
999  E03545      Sofia Cheng            Vice President  Accounting

              Business Unit  Gender  Ethnicity  Age  Hire Date  Annual Salary  \
0    Research & Development  Female      Black   55 2016-04-08         141604
1             Manufacturing    Male      Asian   59 1997-11-29          99975
2       Speciality Products  Female  Caucasian   50 2006-10-26         163099
3             Manufacturing  Female  Caucasian   26 2019-09-27          84913
4             Manufacturing    Male      Asian   55 1995-11-20          95409
..                      ...     ...        ...  ...        ...            ...
995     Speciality Products    Male  Caucasian   33 2016-09-18          98427
996     Speciality Products  Female      Asian   44 2010-05-31          47387
997     Speciality Products    Male      Asian   31 2019-06-10         176710
998     Speciality Products  Female      Asian   33 2012-01-28          95960
999               Corporate  Female      Asian   63 2020-07-26         216195

     Bonus %        Country       City  Exit Date  Bonus Amount
0       0.15  United States    Seattle 2021-10-16       28320.8
1       0.00          China  Chongqing        NaT       19995.0
2       0.20  United States    Chicago        NaT       32619.8
3       0.07  United States    Chicago        NaT       16982.6
4       0.00  United States    Phoenix        NaT       19081.8
..       ...            ...        ...        ...           ...
995     0.00  United States   Columbus        NaT       19685.4
996     0.00          China    Chengdu 2018-01-08        9477.4
997     0.15  United States      Miami        NaT       35342.0
998     0.00          China    Chengdu        NaT       19192.0
999     0.31  United States      Miami        NaT       43239.0

[1000 rows x 15 columns]

In [12]:
import pandas as pd
import numpy as np
Dict={"name":["Rohit","Shubham","Sachin","Pankaj"],
      "Birthday month":["January","February","March","April"]
     }
data=pd.DataFrame(Dict)
print(data)

      name Birthday month
0    Rohit        January
1  Shubham       February
2   Sachin          March
3   Pankaj          April

In [16]:
data["Short Months"] = data["Birthday month"].str[:3]
print(data)

      name Birthday month Short Months
0    Rohit        January          Jan
1  Shubham       February          Feb
2   Sachin          March          Mar
3   Pankaj          April          Apr

In [17]:
import pandas as pd
import numpy as np
def extract(value):
    return value[:3]
Dict={"name":["Rohit","Shubham","Sachin","Pankaj"],
      "Birthday month":["January","February","March","April"]
     }
data=pd.DataFrame(Dict)
data["Short Month"]=data["Birthday month"].map(extract)

In [18]:
print(data)

      name Birthday month Short Month
0    Rohit        January         Jan
1  Shubham       February         Feb
2   Sachin          March         Mar
3   Pankaj          April         Apr