In [4]:
import pandas as pd
import numpy as np
df1={"E ID":["I01","I02","I03","I04","I05","I06"],
      "Name":["Shubham","Sachin","Satyam","Sonu","Satyendra","Saloni"],
      "Age":[22,22,25,23,54,21]
     }
df2={"E ID":["I01","I07","I03","I04","I08","I06"],
     "Salary":[90999,89888,89000,89000,770000,12000]
    }
data1=pd.DataFrame(df1)
data2=pd.DataFrame(df2)
print(data1)
print()
print(data2)
print()
print(pd.merge(left=data1,right=data2,on="E ID"))

  E ID       Name  Age
0  I01    Shubham   22
1  I02     Sachin   22
2  I03     Satyam   25
3  I04       Sonu   23
4  I05  Satyendra   54
5  I06     Saloni   21

  E ID  Salary
0  I01   90999
1  I07   89888
2  I03   89000
3  I04   89000
4  I08  770000
5  I06   12000

  E ID     Name  Age  Salary
0  I01  Shubham   22   90999
1  I03   Satyam   25   89000
2  I04     Sonu   23   89000
3  I06   Saloni   21   12000

In [5]:
print(pd.merge(left=data1,right=data2,on="E ID",how="left"))

  E ID       Name  Age   Salary
0  I01    Shubham   22  90999.0
1  I02     Sachin   22      NaN
2  I03     Satyam   25  89000.0
3  I04       Sonu   23  89000.0
4  I05  Satyendra   54      NaN
5  I06     Saloni   21  12000.0

In [6]:
print(pd.merge(left=data1,right=data2,on="E ID",how="right"))

  E ID     Name   Age  Salary
0  I01  Shubham  22.0   90999
1  I07      NaN   NaN   89888
2  I03   Satyam  25.0   89000
3  I04     Sonu  23.0   89000
4  I08      NaN   NaN  770000
5  I06   Saloni  21.0   12000

In [7]:
print(pd.concat([data1,data2]))

  E ID       Name   Age    Salary
0  I01    Shubham  22.0       NaN
1  I02     Sachin  22.0       NaN
2  I03     Satyam  25.0       NaN
3  I04       Sonu  23.0       NaN
4  I05  Satyendra  54.0       NaN
5  I06     Saloni  21.0       NaN
0  I01        NaN   NaN   90999.0
1  I07        NaN   NaN   89888.0
2  I03        NaN   NaN   89000.0
3  I04        NaN   NaN   89000.0
4  I08        NaN   NaN  770000.0
5  I06        NaN   NaN   12000.0

In [21]:
import pandas as pd
import numpy as np

data={"Fruits":["apple","mango","banana","guava"],
      "Price":[100,150,50,40],
      "Quantity":[100,110,30,45]
     }
df1=pd.DataFrame(data)
print(df1)
df2=df1.copy()
df2.loc[0,"Price"]=125
df2.loc[1,"Price"]=133
df2.loc[3,"Price"]=400
df2.loc[0,"Quantity"]=80
df2.loc[1,"Quantity"]=60
df2.loc[3,"Quantity"]=100
print()
print(df2)
print()
print()
print()
print(df1.compare(df2,keep_shape=False))

   Fruits  Price  Quantity
0   apple    100       100
1   mango    150       110
2  banana     50        30
3   guava     40        45

   Fruits  Price  Quantity
0   apple    125        80
1   mango    133        60
2  banana     50        30
3   guava    400       100



   Price        Quantity
    self  other     self  other
0  100.0  125.0    100.0   80.0
1  150.0  133.0    110.0   60.0
3   40.0  400.0     45.0  100.0

         Price  Quantity
0 self   100.0     100.0
  other  125.0      80.0
1 self   150.0     110.0
  other  133.0      60.0
3 self    40.0      45.0
  other  400.0     100.0