In [10]:
import pandas as pd
import numpy as np

data={
      "Names":["John","Ben","David","Peter"],
      "Houses":["red","blue","green","yellow"],
      "Grades":["8th","9th","6th","4th"]
}
df1=pd.DataFrame(data)

In [11]:
print(df1)

  keys  Names  Houses Grades
0   k1   John     red    8th
1   k2    Ben    blue    9th
2   k1  David   green    6th
3   k2  Peter  yellow    4th

In [12]:
print(df1.pivot(index="keys",columns="Names",values=["Houses","Grades"]))

      Houses                     Grades
Names    Ben  David John   Peter    Ben David John Peter
keys
k1       NaN  green  red     NaN    NaN   6th  8th   NaN
k2      blue    NaN  NaN  yellow    9th   NaN  NaN   4th

In [14]:
import pandas as pd
import numpy as np

data={
      "Names":["John","Ben","David","Peter"],
      "Houses":["red","blue","green","yellow"],
      "Grades":["8th","9th","6th","4th"]
}
df1=pd.DataFrame(data)
print(pd.melt(df1, id_vars="Names",value_vars=["Houses","Grades"]))

   Names variable   value
0   John   Houses     red
1    Ben   Houses    blue
2  David   Houses   green
3  Peter   Houses  yellow
4   John   Grades     8th
5    Ben   Grades     9th
6  David   Grades     6th
7  Peter   Grades     4th